body {
  background-color: #100E17 !important;
  text-decoration: none !important;
  font-weight: lighter !important;
  font-family: Arvo !important;
  color: white !important;
}

#myNav {
  text-align: center;
}

.blue, .navbar-toggler {
  background-color: #104c91 !important;
}

.bandPhoto {
  width: 100%;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.75);
 margin-bottom: 20px;
}

.button1 {
  color: white !important;
  background-color: transparent !important;
}

a {
  text-decoration: none;
  color: white;
}